.visit {
  text-align: center;
  font-size: 8rem;
  padding: 4rem;

  @media only screen and (max-width: 790px) {
    font-size: 6rem;
  }

  @media only screen and (max-width: 678px) {
    font-size: 5rem;
  }

  @media only screen and (max-width: 572px) {
    font-size: 4rem;
  }

  @media only screen and (max-width: 540px) {
    font-size: 3.8rem;
  }

  @media only screen and (max-width: 450px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 360px) {
    font-size: 2.5rem;
  }

  background-image: url(../images/locate.jpg);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: cover;
  white-space: nowrap;
  background-position: 50% 50%;
  background-repeat: none;
}
.map {
  padding-left: 8rem;
  padding-right: 4rem;
  max-width: 140rem;

  @media only screen and (max-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
  }
  margin-top: 6rem;

  @media only screen and (max-width: 807px) {
    margin-top: -6rem;
  }

  @media only screen and (max-width: 580px) {
    margin-top: 3rem;
  }

  @media only screen and (max-width: 381px) {
    margin-top: 8rem;
  }

  @media only screen and (max-width: 330px) {
    margin-top: 12rem;
  }
}
