.container-upcoming {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  color: $color-white;
  background: #000;
  background-size: cover;

  .heading {
    font-size: 4rem;

    @media only screen and (max-width: 670px) {
      font-size: 3rem;
    }

    @media only screen and (max-width: 670px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 400px) {
      font-size: 2.2rem;
    }

    @media only screen and (max-width: 370px) {
      font-size: 2rem;
    }

    & > span:nth-child(2) {
      display: block;
    }

    .inline {
      text-align: center;

      span {
        margin-left: 0.5rem;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  @media only screen and (max-width: 350px) {
    font-size: 12px;
  }
}

.item {
  .count_down {
    font-size: 40px;
    z-index: 999;
  }
}

.circle {
  border: 1px solid $color-grey-dark-2;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;

  &:before {
    content: "";
    // background-image: conic-gradient(#04b0ee 20deg, transparent 120deg);
    background: linear-gradient(-45deg, red, green, blue, yellow);
    height: 250%;
    width: 250%;
    position: absolute;
    left: -25%;
    top: -25%;

    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    100% {
      transform: rotate(-360deg);
    }
  }

  &:after {
    content: "";
    height: 90%;
    width: 90%;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    top: 4.9%;
    left: 5.2%;
    display: grid;
    // color: #04b0ee;
    place-items: center;
    z-index: 1;
  }
}

.circle-1 {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
