.popup {
  position: relative;
  height: 100vh;
  z-index: 100;
  transition: 1s ease-in-out opacity, 200ms ease-in-out transform;

  figure {
    width: 40%;
    padding: 5rem 0 5rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;

    img {
      max-width: 100%;
      position: relative;

      @media only screen and (max-width: 560px) {
        max-width: 158%;
        transform: translate(0, -85%);
      }

      @media only screen and (max-width: 500px) {
        width: 135%;
        transform: translate(0, -36%);
      }

      @media only screen and (max-width: 428px) {
        width: 135%;
        transform: translate(0, -56%);
      }

      @media only screen and (max-width: 420px) {
        width: 165%;
        transform: translate(0, -48%);
      }

      @media only screen and (max-width: 411px) {
        width: 165%;
        transform: translate(0, -28%);
      }

      @media only screen and (max-width: 390px) {
        width: 195%;
        transform: translate(0, -50%);
      }

      @media only screen and (max-width: 360px) {
        width: 195%;
        transform: translate(0, -40%);
      }

      @media only screen and (min-width: 561px) {
        max-width: 95%;
        transform: translate(0, -70%);
      }

      @media only screen and (min-width: 605px) {
        width: 135%;
        transform: translate(0, -15%);
      }
      @media only screen and (min-width: 661px) {
        width: 125%;
        transform: translate(0, -15%);
      }

      @media only screen and (min-width: 703px) {
        width: 115%;
        transform: translate(0, -15%);
      }

      @media only screen and (min-width: 753px) {
        width: 105%;
        transform: translate(0, -15%);
      }

      @media only screen and (min-width: 800px) {
        max-width: 98%;
        transform: translate(0, -70%);
      }

      @media only screen and (min-width: 1100px) {
        max-width: 68%;
        transform: translate(0, -90%);
      }

      @media only screen and (min-width: 1280px) {
        max-width: 68%;
        transform: translate(0, -30%);
      }

      @media only screen and (min-width: 1354px) {
        max-width: 68%;
        transform: translate(0, -2%);
      }
    }

    .txt-close {
    }
  }

  button {
    font-size: 3rem;
    align-self: flex-start;
    right: 45px;
    position: absolute;
    top: 5rem;
    background: transparent;
    color: $color-white;
    cursor: pointer;
    user-select: none;

    &:active {
      transform: scale(0.9);
    }

    p {
      font-size: 4rem !important;
      color: #fff;
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 1s ease-in-out opacity;
}

//JS Compliant
.showPopup {
  opacity: 1;
  pointer-events: all;
}
