.sermon {
  filter: brightness(100%) !important;

  &-box {
    &--bg {
      background-color: rgba(#2a2a2b, 1);
    }
  }

  &-image img {
    display: block;
    width: 100%;
  }

  &-header {
    display: grid;
    flex-direction: column;
    gap: 1.5rem;
    justify-items: center;
    color: #000;
    margin-bottom: 6rem;

    font-size: 2rem;

    & h2 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: $font-weight-medium;
      max-width: 40ch;
      text-align: center;
      color: $color-white;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    margin-bottom: 3rem;

    .wrapper {
      h2 {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.6;
        font-size: 1.3rem;
        gap: 1rem;
        font-weight: 300;

        @media only screen and (max-width: 825px) {
          padding: 0 0 1.2rem 0;
          margin-top: -1rem;
        }

        @media only screen and (max-width: 470px) {
          width: 90%;
          margin: 0 auto;
        }

        @media only screen and (max-width: 354px) {
          width: 80%;
          margin-left: 3px;
          font-size: 1rem;
        }

        .sermon-social-icon {
          height: 3rem;
          width: 6rem;
          background-color: red;
          color: $color-white;
          border-radius: 5px;
          margin-right: 6rem;
          margin-top: 0.2rem;

          @media only screen and (max-width: 825px) {
            margin-top: 0;
            margin-left: 2rem;
          }

          @media only screen and (max-width: 300px) {
            margin-left: -2rem;
            width: 4rem;
          }
        }

        @media only screen and (max-width: 1238px) {
          font-size: 2.4rem;
        }

        @media only screen and (max-width: 1114px) {
          font-size: 2.2rem;
        }

        @media only screen and (max-width: 1000px) {
          font-size: 1.8rem;
        }

        @media only screen and (max-width: 320px) {
          font-size: 1.6rem;

          width: 98%;
        }

        @media only screen and (max-width: 314px) {
          width: 95.3%;
        }
        @media only screen and (max-width: 310px) {
          width: 79.5%;
        }
      }
    }

    &:nth-child(even) .wrapper {
      order: 1;
    }

    @media only screen and (max-width: 665px) {
      &:nth-child(even) .sermon-text {
        order: 2;
      }

      @media only screen and (max-width: 492px) {
        &:nth-child(odd) .sermon-text {
          order: 2;
        }
      }
    }

    &:nth-child(odd) .wrapper {
      @media only screen and (max-width: 665px) {
        // order: 1;
      }
    }

    .sermon-text {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;

      position: relative;
      color: #fff;

      .sermon-image {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        filter: brightness(50%);
        width: 100%;
        height: 100%;
        background-image: url(../../images/audiobg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;

        @media only screen and (max-width: 360px) {
          width: 97%;
        }

        @media only screen and (max-width: 347px) {
          width: 95%;
        }

        @media only screen and (max-width: 330px) {
          width: 89%;
        }

        @media only screen and (max-width: 326px) {
          width: 86.5%;
        }

        @media only screen and (max-width: 320px) {
          width: 86.5%;
        }

        @media only screen and (max-width: 314px) {
          width: 84.5%;
        }
        @media only screen and (max-width: 300px) {
          width: 79.5%;
        }
      }
    }

    &:nth-child(odd) .sermon-category,
    .sermon-speaker {
      @media only screen and (min-width: 610px) {
        padding: 1rem;
      }

      @media only screen and (max-width: 930px) {
        padding-bottom: 2rem;
      }

      @media only screen and (max-width: 605px) {
        padding: 2rem;
      }
    }

    &:nth-child(even) .sermon-text > *:not(:nth-child(1)) {
      padding-left: 2rem;
    }

    p,
    .category bold {
      color: #fff;
      font-weight: $font-weight-default;
    }
  }

  &-speaker p {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: $color-white;
    font-weight: $font-weight-medium;

    & bold {
      font-weight: $font-weight-semi-bold;
    }
  }

  &-category {
    font-size: 1.5rem;

    & p {
      font-weight: $font-weight-medium !important;
      margin-top: 1rem;
      margin-bottom: 0.8rem;

      & bold {
        color: #e25a52;
      }

      & span {
        font-weight: font-weight-medium;
        color: $color-white;
      }
    }

    & .date {
      color: #e25a52;
      font-weight: font-weight-medium;
    }

    & h4 {
      color: rgb(248, 241, 241);
      font-weight: 400;
      line-height: 1.8;
      margin-top: 2rem;
    }
  }
}
