.worship {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    color: $color-black;
    position: relative;
    margin: 4rem 0;

    &::after {
      content: "";
      position: absolute;
      top: 4rem;
      border-bottom: 2px solid #ce0f3d;
      width: 15rem;

      display: flex;
      align-items: flex-start;
    }
    @media only screen and (max-width: 540px) {
      font-size: 2.4rem;
    }
    @media only screen and (max-width: 380px) {
      font-size: 1.8rem;
    }
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    color: $color-grey-dark;

    &:hover &-card:not(:hover):nth-child(3) {
      transform: translateX(-2rem);

      @media only screen and (max-width: 50em) {
        transform: translateX(0rem);
      }
    }

    &:hover &-card:not(:hover):nth-child(2) {
      background-color: white !important;

      h2,
      .sub-title,
      p,
      span {
        color: inherit;
      }
      & .sub-title {
        &::after {
          border-bottom: 2px solid #ce0f3d;
        }
      }

      @media only screen and (max-width: 600px), only screen and (hover: none) {
        background-color: #ce0f3d !important;

        h2,
        .sub-title,
        p,
        span {
          color: $color-white;
        }
        & .sub-title {
          &::after {
            border-bottom: 2px solid $color-white;
          }
        }
      }
    }

    &:hover &-card:not(:hover):nth-child(1) {
      transform: translateX(2rem);

      @media only screen and (max-width: 50em) {
        transform: translateX(0rem);
      }
    }

    @media only screen and (max-width: 50em) {
      grid-template-columns: 1fr;
      padding: 0 10rem 0 10rem;
    }

    @include respond(phone) {
      padding: 0 12rem 0 12rem;
    }

    @media only screen and (max-width: 500px) {
      padding: 0 4rem 0 4rem;
    }

    @media only screen and (max-width: 22.5em) {
      padding: 0 2rem 0 2rem;
    }
  }

  .worship--card--1 {
    align-self: start;
    transition: all 400ms ease-out;
    @media only screen and (max-width: 600px) {
      transition: none;
    }

    &:hover {
      background-color: #ce0f3d !important;
      color: $color-white;

      .heading-secondary {
        color: $color-white;
      }

      .sub-title {
        &::after {
          border-bottom: 2px solid $color-white;
        }
      }
      @media only screen and (max-width: 600px), only screen and (hover: none) {
        background-color: $color-white !important;

        .heading-secondary {
          color: $color-grey-dark !important;
        }

        h2,
        .sub-title,
        p,
        span {
          color: $color-grey-dark;
        }
        & .sub-title {
          &::after {
            border-bottom: 2px solid #ce0f3d;
          }
        }
      }
    }
  }

  .worship--card--2 {
    padding: 4rem 4rem;
    transition: background-color 400ms ease-in-out;
    @media only screen and (max-width: 600px) {
      transition: none;
    }

    h2,
    .sub-title,
    p,
    span {
      color: $color-white;
    }
    & .sub-title {
      position: relative;
      margin-top: 3rem;
      margin-bottom: 3rem;
      &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid $color-white;
        margin-bottom: 2rem;
        width: 5rem;
        margin-top: 1rem;

        display: flex;
        align-items: flex-start;
      }
    }
  }

  .worship--card--3 {
    align-self: start;
    padding: 4rem 4rem;
    transition: all 400ms ease-in-out;
    @media only screen and (max-width: 600px) {
      transition: none;
    }

    &:hover {
      background-color: #ce0f3d !important;
      color: $color-white;

      .heading-secondary {
        color: $color-white;
      }

      .sub-title {
        &::after {
          border-bottom: 2px solid $color-white;
        }
      }
      @media only screen and (max-width: 600px), only screen and (hover: none) {
        background-color: $color-white !important;

        .heading-secondary {
          color: $color-grey-dark !important;
        }

        h2,
        .sub-title,
        p,
        span {
          color: $color-grey-dark;
        }
        & .sub-title {
          &::after {
            border-bottom: 2px solid #ce0f3d;
          }
        }
      }
    }
  }
}

.worship-container-card {
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.8rem;
  padding: 2rem;
  border-radius: 0.8rem;
  color: $color-grey-dark;
  align-content: flex-start;

  transition: all 0.3s;

  & span {
    font-size: 4rem;
    width: 4rem;

    stroke: $color-grey-dark;
  }

  &-text {
    line-height: $line-height-large;
    margin-top: 2rem;
  }

  & p {
    font-size: 1.5rem;
  }

  & .sub-title {
    position: relative;
    margin-top: 3rem;
    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid #ce0f3d;
      margin-bottom: 2rem;
      width: 5rem;
      margin-top: 1rem;

      display: flex;
      align-items: flex-start;
    }
  }

  &-note {
    font-size: 1.8rem;
    font-weight: $font-weight-medium;
    line-height: $line-height-large;
  }

  &:nth-child(2) {
    transition: all 600ms ease-in-out;
    &:hover {
      transform: scale(1.15) translateY(-0.3rem);
      z-index: 4;

      @media only screen and (max-width: 50em) {
        transform: scale(1) translateY(0rem);
      }
    }
  }
}
